
.album-container{
    padding:8rem;
    color:white;
}
.album-title {
    display:flex;
    flex-direction: column;
    font-size: 4rem;

}
.album-title h1{
    font-size:4.5rem
}
.album-img{
    margin:2rem 0 2rem 0;
    box-shadow: 30px 20px rgba(0,0,0,0.25)
    
}
.album-listeners {
    font-size:1rem;
}
.summary{
    padding:1rem 0 1rem 0;
}
.album-img-cntnr img {
    width:100%;
    height:100%;
}
