

.gallery{
    
    margin:25px;
    box-shadow:0 0 10px 10px rgba(0,0,0,0.25);
    cursor:pointer;
    
    transition: transform .2s
}
.gallery.card:hover{
    transform: scale(1.2);
    
}

.album-art{
    width: 25vh;
    height:25vh;
    padding:10px;

}

.album-title {
    font-family: "Josefin Sans";
    
    padding:10px;
    font-weight:600;
    text-shadow:1px 1px rgba(0,0,0,0.25)
   

}


.welcome{
    width:100vw;
    height:100vh;
    display: flex;
    justify-content: center;
    padding:10rem;
    
    color:white;

}
.album-artist{
    font-family:"Josefin Sans";
    padding:10px;

    
}

