
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
html{
    background-color:#520016;
    width: 100%;
    height: 100%;

}
:root{

    --title:"Oswald","sans-serif";
    --other:"Josefin Sans", "sans-serif"
}

.App{
    background-color:#520016;
    width: 100%;
    height: 100%;
    

}

.app-name{

    font-family:--title;
    color:white;
    font-weight:700; 
    font-size: 5.5rem;
    text-shadow:5px 5px rgba(0,0,0,0.25)
}

.albm-container{
    display:grid;
    justify-content: center;
    grid-template-columns:repeat(auto-fit, 20rem);
    
    max-width:100vw;
    max-height:120vh;
    margin:25px;
    
}
.search-list {
    color:white;
    
}
.img {
    margin: 1rem;
    width:250px
}
.search-bar{
    padding-bottom: 100px;
}
